<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../assets/iconNav.svg" width="60" height="48" alt=""></a>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarTogglerDemo01"
    >
      <ul class="navbar-nav container-fluid justify-content-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" [class]="{'active': this.router.url === '/'}" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/market']" [class]="{'active': this.router.url === '/market'}" href="#">Market</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand" [routerLink]="['/cart']" href="#">
      <img src="../../../assets/cart.svg" alt="..." /><span
        class="badge badge-light"
        >{{http.totalCart ? http.totalCart : 0}}</span
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
